.app {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(188, 186, 186);
  font-family: Arial, Helvetica, sans-serif;
}
